<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>46481076985-unt5c03a04r5di1p24sfqq3ju80ia237.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46481076985-unt5c03a04r5di1p24sfqq3ju80ia237</string>
	<key>API_KEY</key>
	<string>AIzaSyDsv91_D_HGeVW5Yb9eDsXXiJjPFawSdIU</string>
	<key>GCM_SENDER_ID</key>
	<string>46481076985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ccflow.schooldemo</string>
	<key>PROJECT_ID</key>
	<string>school-projects-master</string>
	<key>STORAGE_BUCKET</key>
	<string>school-projects-master.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46481076985:ios:939e672b7053c39c</string>
	<key>DATABASE_URL</key>
	<string>https://school-projects-master.firebaseio.com</string>
</dict>
</plist>